
#preheader, #postheader{
    border: thin solid black;
    height: auto;
    width: 100%;
    clear: both;
    font-family: "Comic Sans MS";
    display: inline-block;
}

#header, #footer{
    background-color: cornflowerblue;
    border: thin solid black;
    padding: 1em;
    height: auto;
    width: 100%;
    font-family: "Comic Sans MS";
    vertical-align: middle;
    display: inline-block;
}

h1{
    font-size: 1.2em;
    float: left;
    display: inline-block;
}

nav ul{
    list-style-type: none;
    display: inline-block;
    float: right;
}

nav ul li{
    float: left;
    padding-left: 0em;
    padding-left: 0em;
}

nav{
    width: 100%;
}

nav ul li a{
    display: block;
    padding: 0.5em;
}

#content{
    clear: both;
    border: thin solid black;
    font-family: "Comic Sans MS";
    padding: 1em;
    text-align: center;
}

h2{
    font-size: 2em;
}

ul{
    list-style-type: none;
}

li{
    float: inherit;
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
}

hours{
    float: left;
    width: 33%;
    display: inline-block;
}

description{
    float: left;
    width: 33%;
    display: inline-block;
}

address{
    float: right;
    font-style: normal;
    display: inline-block;
}

#postheader{
    height: 2em;
}
